<!DOCTYPE html>
<html>
    <head>
    <meta charset= "UTF-8">
    <title> TRPG キャラクターシート保管庫</title>
    <link rel="stylesheet" type="text/css" href="../public/css/index.css">
    </head>
    <body>

    <div id="header">
    </div>
    
    <div class="main">
    <a href="{{.Path}}index.cgi/new"> 新しいシート</a><br>
    <a href="{{.Path}}index.cgi/search"> 検索</a>
    </div>

    <div id="footer">
    </div>

    </body>
</html>
