
header {
}
.content{
}

.main .content .leftcontent{
    float: left;
}

.main .content .rightcontent {
        float: right;
}

.main .content  .leftcontent .flavor {
    position: relative;

}

.main .content  .rightcontent .flavor {
    position: relative;

}


.main .content .leftcontent .flavor .leftflavor .topflavor .names {
    position: relative;
    top: 0px;
    left: 0px;
}

.main .content  .leftcontent .flavor .leftflavor {
    position: relative;
}

.main .content  .leftcontent .flavor .rightflavor {
    position: relative;
}

.main .content .leftcontent .flavor .leftflavor .topflavor .names table tbody tr td input {
    position: relative;
    width: 100px;
}


.main .content .leftcontent .flavor .leftflavor .buttomflavor .experience input {
    width: 30px;
}

.main .content .leftcontent .flavor .rightflavor .Lv input{
    width: 20px;
}


.leftcontent .rightflavor .flavor .spiritual {
    position: relative;
}

.leftcontent .flavor .kind {
    position: relative;
    top: 0px;
    left: 0px;
}

.leftconent .flavor .experience {
    position: relative;
}

.leftcontent .flavor .creation {
    position: relative;
}

.leftcontent .flavor .parsonal {
    position: relative;
}

.leftcontent .flavor .degrees {
    position: relative;
}

.leftcontent .data .param {
    position: relative;
}


.rightcontent {
    float: right;
    left: auto;
    top: 0px;
}

footer {
    clear: both;
}
